/* dvdgames.css */

body {
    font-family: Arial, sans-serif; 
    background-color: #000130;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1a1a4b;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.submitbutton {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    flex: 0 auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: #000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }

.submitbutton:hover {
    background-color: #333;
}


input[type="text"],
input[type="submit"] {
    width: 100%;
    max-width: 550px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
}
/*
input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}
*/

.dvd-game-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1a1a4b;
    border-radius: 10px;
}

.dvd-game-item {
    border-bottom: 1px solid #333;
    padding: 10px;
}

.dvd-game-item:last-child {
    border-bottom: none;
}

.dvd-game-item a {
    color: #99d5d6;
    text-decoration: none;
    font-weight: bold;
}

.dvd-game-item a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    form {
        max-width: 100%;
        padding: 10px;
    }

    input[type="text"],
    input[type="submit"] {
        max-width: 100%;
        padding: 8px;
    }

    .dvd-game-list {
        max-width: 100%;
        padding: 10px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    form {
        max-width: 80%;
        padding: 15px;
    }

    input[type="text"],
    input[type="submit"] {
        max-width: 80%;
        padding: 10px;
    }

    .dvd-game-list {
        max-width: 80%;
        padding: 15px;
    }
}

@media screen and (min-width: 1025px) {
    form {
        max-width: 600px;
        padding: 20px;
    }

    input[type="text"],
    input[type="submit"] {
        max-width: 550px;
        padding: 10px;
    }

    .dvd-game-list {
        max-width: 800px;
        padding: 20px;
    }
}
