<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/registerCustomer/add}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{customerId}" />
        <label for="name">Title:</label>
        <input type="text" th:field="*{name}" placeholder="name" required>

        
        <label for="address">address:</label>
        <input type="text" th:field="*{address}" placeholder="address" required>

        
        <label for="phoneNum">Title:</label>
        <input type="text" th:field="*{phoneNum}" placeholder="phoneNum" required>

        
        <label for="email">Title:</label>
        <input type="text" th:field="*{email}" placeholder="email" required>
   
        <label for="password">Title:</label>
        <input type="text" th:field="*{password}" placeholder="password" required>

        
        <label for="admin">Title:</label>
        <input type="checkbox" name="admin" value="true"> Admin<br>
        <button type="submit">Register</button>
    </form>

</body>
</html>
